.carousel {
  --carousel-text-color: var(--palette-blue-600);
  --carousel-indicator-color: var(--palette-blue-600);
  --carousel-indicator-active-color: var(--palette-yellow);

  width: 100%;
}

.carousel-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.carousel-prefix {
  margin-inline-end: 0.5rem;
  font-weight: var(--weight-regular);
  font-size: var(--text-large);
}

.carousel-item {
  height: 4rem;
  padding: 0.5rem 0;
  color: var(--carousel-text-color);
  font-weight: var(--weight-regular);
  font-size: 3rem;
  line-height: 1;

  &:after {
    display: inline-block;
    width: 0.25rem;
    height: 100%;
    background-color: var(--carousel-text-color);
    transform: translate(0.25rem, 0.25rem);
    content: '';
  }
}

.carousel-indicators {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  margin-block-start: 1rem;
}

.carousel-indicator {
  width: 1.875rem;
  height: .375rem;
  margin: 0 0.25rem;
  background-color: var(--carousel-indicator-color);
  border-radius: 0.25rem;
  transform: scale(1);
  cursor: pointer;
  transition: transform 200ms ease-in-out;

  &:hover {
    background-color: var(--carousel-indicator-active-color);
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(.47,.07,.47,1.25);
  }

  &.active {
    background-color: var(--carousel-indicator-active-color);
    transform: scale(1.25);
    transition-timing-function: cubic-bezier(.47,.07,.47,1.25);
  }
}

@media (--medium-viewport) {
  .carousel-item:after {
    width: 0.5rem;
    transform: translate(0.5rem, 0.5rem);
  }

  .carousel-indicators {
    margin-block-start: 1.5rem;
  }

  .carousel-indicator {
    width: 2.5rem;
    height: 1rem;
  }
}
