.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.carousel-item {
  height: calc(var(--text-h1) + 16px);
  padding: 8px 0px;
  color: var(--color-accent);
  font-weight: var(--weight-regular);
  font-size: var(--text-h1);
  line-height: 1;

  &:after {
    display: inline-block;
    width: 4px;
    height: 100%;
    margin-inline-start: 8px;
    background-color: var(--color-accent);
    transform: translateY(4px);
    content: '';
  }

  &.idle {
    &:after {
      animation: pulse 200ms ease-in-out infinite alternate;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
