.carousel {
  --carousel-text-color: var(--palette-blue-600);
  --carousel-indicator-color: var(--palette-blue-600);
  --carousel-indicator-active-color: var(--palette-yellow);

  width: 100%;
}

.carousel-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.carousel-prefix {
  margin-inline-end: 8px;
  font-weight: var(--weight-regular);
  font-size: var(--text-large);
}

.carousel-item {
  height: calc(48px + 16px);
  padding: 8px 0px;
  color: var(--carousel-text-color);
  font-weight: var(--weight-regular);
  font-size: 48px;
  line-height: 1;

  &:after {
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: var(--carousel-text-color);
    transform: translate(4px, 4px);
    content: '';
  }
}

.carousel-indicators {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.carousel-indicator {
  width: 30px;
  height: 6px;
  margin: 0px 4px;
  background-color: var(--carousel-indicator-color);
  border-radius: 2px;
  transform: scale(1);
  cursor: pointer;
  transition: transform 200ms ease-in-out;

  &:hover {
    background-color: var(--carousel-indicator-active-color);
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(.47,.07,.47,1.25);
  }

  &.active {
    background-color: var(--carousel-indicator-active-color);
    transform: scale(1.25);
    transition-timing-function: cubic-bezier(.47,.07,.47,1.25);
  }
}
