.content-area-wrapper {
  position: relative;
  padding-top: calc(var(--spacing-large) + var(--page-nav-height));

  &.no-padding {
    padding-top: 0px;
  }
}

.content-area {
  width: 100%;
  max-width: var(--page-content-area);
  margin: 0 auto;
}
