.section-wrapper {
  position: relative;
  width: 100%;
  padding-block: 200px 200px;
  background-color: pink;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--page-content-area);
  margin: 0 auto;

  &> section:nth-of-type(odd) {
    align-self: flex-start;
  }

  &> section:nth-of-type(even) {
    align-self: flex-end;
  }
}
