.section-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-accent-dark);
}

.label {
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
