@layer bengsfort.ui {

  /** Defaults */
  html,
  body {
    width: 100%;
    height: 100%;

    color: var(--color-text);
    font-size: var(--text-size);
    font-family: var(--font-main);
    font-weight: var(--weight-base);
    background-color: var(--color-bg);
  }
  
  h1, .h1 {
    font-weight: var(--weight-light);
    font-size: var(--text-h1);
    font-family: var(--font-main);
    line-height: var(--line-height-tight);
  }
  
  h2, .h2 {
    font-weight: var(--weight-semibold);
    font-size: var(--text-h2);
    font-family: var(--font-main);
    line-height: var(--line-height-tight);
  }
  
  h3, .h3 {
    font-weight: var(--weight-bold);
    font-size: var(--text-h3);
    font-family: var(--font-main);
    line-height: var(--line-height-semi-tight);
  }
  
  h4, .h4 {
    font-weight: var(--weight-bold);
    font-size: var(--text-h4);
    line-height: var(--line-height-semi-tight);
    font-family: var(--font-main);
  }
  
  code, pre {
    font-weight: var(--weight-regular);
    font-size: var(--text-size);
    font-family: var(--font-mono);
    line-height: var(--line-height-semi-tight);
  }

  p {
    color: var(--color-text);
    font-size: var(--text-size);
    font-family: var(--font-main);
    font-weight: var(--weight-base);
    line-height: var(--line-height-body);
  }

  /** Utils */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0);
  }

  /** Layout */
  .centered-full-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;
    gap: 5rem;
  }

  .background {
    position: fixed;
    inline-size: 100%;
    block-size: 100%;
    inset: 0;
    background: linear-gradient(--color-grey, var(--color-dark));
    z-index: -1;
  }

  /** Content Grid */
  .content-grid {
    display: grid;
    grid-template-columns:
      1rem [breakout-start] 6.25rem [content-start] 1fr [content-end] 6.25rem [breakout-end] 1rem;
  }

  .content-grid > * {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }
}
