* {
  box-sizing: border-box;
}

html {
  font-size: var(--text-base);
  font-family: var(--font-main);
}

body {
  color: var(--color-text);
  font-size: var(--text-size);
  font-family: var(--font-main);
  background-color: var(--color-bg);
}

h1, .h1 {
  font-weight: var(--weight-bold);
  font-size: var(--text-h1);
  font-family: var(--font-main);
}

h2, .h2 {
  font-weight: var(--weight-semibold);
  font-size: var(--text-h2);
  font-family: var(--font-main);
}

h3, .h3 {
  font-weight: var(--weight-bold);
  font-size: var(--text-h3);
  font-family: var(--font-main);
}

h4, .h4 {
  font-weight: var(--weight-bold);
  font-size: var(--text-h4);
  font-family: var(--font-main);
}

code, pre {
  font-weight: var(--weight-regular);
  font-size: var(--text-size);
  font-family: var(--font-mono);
}
