:root {
  /** Colors */
  --color-light: #e6e6e6;
  --color-dark: #202020;
  --color-grey: #2c2c2c;
  --color-primary: #2365e1;
  --color-primary-dark: #1a479c;
  --color-primary-light: #4a82ed;
  --color-accent-dark: #19253b;
  --color-accent-light: #262736;

  /** Main elements */
  --color-bg: var(--color-dark);
  --color-text: var(--color-light);

  /** Typography */
  --font-main: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font-mono: 'Ubuntu Mono', monospace;

  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-regular: 400;

  --text-size: 22px;
  --text-large: 28px;
  --text-small: 18px;

  --text-h1: 36px;
  --text-h2: 32px;
  --text-h3: 28px;
  --text-h4: 24px;

  /** Global Layout */
  --page-nav-width: 256px;
  --page-nav-height: 480px;
  --page-content-area: 800px;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
}
