:root {
  --page-nav-bg: var(--color-dark);
  --nav-indicator-size: 6px;
  --nav-indicator-color: var(--color-primary);
}

.page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--page-nav-width);
  height: var(--page-nav-height);
  background-color: var(--page-nav-bg);
  backdrop-filter: blur(2px);
  
  .container {
    height: 100%;
    width: 100%;
    max-width: var(--page-content-area);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .hide {
    transform: translate(-100%, 148px);
    transition-timing-function: ease-in;
  }
}

.site-name {
  font-size: var(--text-large);
  font-family: var(--font-mono);
}

.site-nav {
  height: 100%;
}

.nav-list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .nav-item {
    padding: 0;
  }

  .nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--page-nav-height);
    padding: var(--spacing-small) var(--spacing-large);
    color: var(--color-text);
    font-weight: var(--weight-regular);
    font-size: var(--text-small);
    text-align: center;
    text-decoration: none;
    transition: color 155ms;

    &:hover, &.active {
      color: var(--color-primary-light);
      cursor: pointer;
    }

    &:before {
      content: '';
      position: absolute;
      left: var(--spacing-medium);
      width: var(--nav-indicator-size);
      height: var(--nav-indicator-size);
      background-color: var(--nav-indicator-color);
      transform: translateY(calc(var(--spacing-large) * -2));
      transition: transform 255ms ease-in;
    }

    &:hover:before, &.active:before {
      content: '';
      transform: translateY(0);
      transition-timing-function: cubic-bezier(.27,.1,.33,1.41);
    }
  }
}
