.section-wrapper {
  --scroll-indicator-size: 128px;

  position: relative;
  width: 100%;
  padding-block: calc(var(--spacing-large) + var(--page-nav-height)) 256px;
  padding-inline: var(--spacing-large);
  overflow: hidden;
  background: linear-gradient(
    0deg,
    var(--color-bg) 0%,
    var(--palette-black-800) 100%
  );
}

.text-wrapper {
  width: 100%;
  max-width: 850px;
  margin: 0 auto var(--spacing-xlarge);
  text-align: center;
  transform: translateY(var(--spacing-medium));
  opacity: 0;
  transition: opacity 350ms 150ms, transform 500ms;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;
  justify-content: center;
  margin: 64px 0 48px;
  color: var(--color-text);
  font-weight: var(--weight-regular);
  font-size: var(--text-large);

  h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: var(--weight-regular);
  }
}

.lead-text {
  color: var(--color-text);
  font-weight: var(--weight-regular);
  font-size: var(--text-large);
  margin-block-start: 48px;
}
