---
/**
 * Should this just turn into a reveal link?
 *
 * If we assume that the revealed text is a link, then we can still
 * easily use the css background gradient trick to animate the link fully.
 *
 * This would require us to ensure that the entire text is a link however.
 *
 * @todo: Convert to JS, separate with spans and incrementally drop in. css one looks bad.
 */

interface Props {
  previewText: string;
  url: string;
  name: string;
}

const { previewText, url, name } = Astro.props;
---

<style>
  .wrapper {
    display: inline;
    position: relative;
  }

  .preview {
    position: absolute;
    font-size: var(--text-xsmall);
    line-height: var(--line-height-body);
    font-weight: var(--weight-bold);
    color: hsl(0 0% 100% / 0.1);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    background-image: linear-gradient(
      90deg,
      var(--color-vibrant-light),
      var(--color-vibrant-dark)
    );
  }

  /** @todo: Add compat check with @supports. */
  .hidden-message {
    display: inline;
    color: hsl(0 0% 100% / 0);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, var(--color-text), var(--color-text));
    text-decoration: none;
  }

  .wrapper:hover {
    .preview {
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms;
    }

    .hidden-message {
      background-size: 100% 100%;
      transition: background-size 875ms 325ms ease-in;
    }
  }

  .reveal-your-secrets {
    .preview {
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms;
    }

    .hidden-message {
      visibility: visible;
    }
  }
</style>

<hidden-message class="wrapper preview-only">
  <strong class="preview" aria-hidden="true" data-preview>{previewText}</strong>
  <a href={url} target="_blank" aria-label={name} data-hidden class="hidden-message"
    ><slot /></a
  >
  <!-- <span class="hidden-message"><slot /></span> -->
</hidden-message>

<script>
  // import { HiddenMessage } from './HiddenMessage';

  // customElements.define('hidden-message', HiddenMessage);
</script>
