---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import TextCarousel from '../components/TextCarousel/TextCarousel.astro';
import RevealedText from '../components/RevealedText/RevealedText.astro';
import ProjectPreview from '../components/ProjectPreview/ProjectPreview.astro';

const projects = await getCollection('projects');

const carouselItems = [
  'Software Engineer',
  'Game Developer',
  'Tooling Engineer',
  'UI Developer',
];
const carouselSafeDescription = `I'm a Software Engineer, Game Developer, Tooling Engineer and UI Developer.`;
const sourceLink = `https://github.com/bengsfort/bengsfort.dev`;
---

<style>
  .hero {
    text-align: center;
    padding-block: 7.5rem;
  }

  .lead-text {
    margin-block-start: 2rem;
    text-align: left;
  }

  .content-section {
    padding-block: 2rem;
    background-color: var(--color-grey);
    justify-self: stretch;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
</style>

<BaseLayout pageTitle="bengsfort.dev - Matt Bengston">
  <header class="content-grid hero">
    <h1>Hey, I'm Matt.</h1>
    <TextCarousel items={carouselItems} a11yDescription={carouselSafeDescription} />
    <p class="lead-text">
      I'm a software engineer with a wide range of specialties that loves solving problems
      and delivering high quality experiences for end users. You can check out some of my
      work below. <RevealedText
        previewText="Psssttt..."
        url={sourceLink}
        name="Source code link"
        content="You can also view the source for this site on github."
      />
    </p>

    <p class="lead-text">
      Currently working at <a href="https://noice.com" target="_blank">Noice</a>,
      previously <a href="https://epicgames.com/" target="_blank">Epic Games</a> and <a
        href="https://unity3d.com/"
        target="_blank">Unity Technologies</a
      >.
    </p>
  </header>
  <main class="content-grid content-section">
    <section class="project-grid breakout">
      {projects.map((project) => <ProjectPreview project={project} />)}
    </section>
  </main>
</BaseLayout>
