---
import BaseLayout from '../layouts/BaseLayout.astro';
import TextCarousel from '../components/TextCarousel/TextCarousel.astro';

const carouselItems = [
  'Software Engineer',
  'Game Developer',
  'Tooling Engineer',
  'UI Developer',
];
const carouselSafeDescription = `I'm a Software Engineer, Game Developer, Tooling Engineer and UI Developer.`;
---

<BaseLayout pageTitle="bengsfort.dev - Matt Bengston">
  <header class="content">
    <h1>Hei, I'm Bengsfort (Matt).</h1>
    <TextCarousel items={carouselItems} a11yDescription={carouselSafeDescription} />
  </header>
</BaseLayout>
