---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import TextCarousel from '../components/TextCarousel/TextCarousel.astro';
import RevealedText from '../components/RevealedText/RevealedText.astro';
import ProjectPreview from '../components/ProjectPreview/ProjectPreview.astro';

import NoiceLogo from '../icons/LogoNoice.astro';
import EpicLogo from '../icons/LogoEpicGames.astro';
import UnityLogo from '../icons/LogoUnity.astro';
import TalkList from '../components/TalkList/TalkList.astro';

const projects = await getCollection('projects');

const carouselItems = [
  'Software Engineer',
  'Game Developer',
  'Tooling Engineer',
  'UI Developer',
];
const carouselSafeDescription = `I'm a Software Engineer, Game Developer, Tooling Engineer and UI Developer.`;
const sourceLink = `https://github.com/bengsfort/bengsfort.dev`;
---

<style>
  h2 {
    color: var(--color-primary);
    font-weight: var(--weight-bold);
    font-size: 3rem;
    margin-block-end: 2rem;
  }

  .hero {
    text-align: center;
    padding-block: 7.5rem;
  }

  .lead-text {
    margin-block-start: 2rem;
    text-align: left;
  }

  .content-section {
    padding-block: 2rem;
    background-color: var(--color-grey);
    justify-self: stretch;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .jobs-link {
    --_underline-color: var(--color-primary);

    position: relative;
    display: inline-block;
    color: var(--color-text);

    &-name {
      display: inline-block;
      font-weight: var(--weight-semibold);
      text-decoration: underline;
      text-decoration-thickness: 20%;
      text-decoration-color: var(--_underline-color);
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 150ms,
        transform 150ms;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
      opacity: 0;
      transition:
        opacity 150ms,
        transform 150ms;
    }

    &-icon-svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      .jobs-link-name {
        opacity: 0;
        transform: translateY(50%);
      }

      .jobs-link-icon {
        opacity: 1;
        transform: translateY(0);
        border-bottom: 0.2rem solid
          color-mix(in srgb, var(--_underline-color) 20%, transparent);
      }
    }
  }
</style>

<BaseLayout pageTitle="bengsfort.dev - Matt Bengston">
  <header class="content-grid hero">
    <h1>Hey, I'm Matt.</h1>
    <TextCarousel items={carouselItems} a11yDescription={carouselSafeDescription} />
    <p class="lead-text">
      I'm a software engineer with a wide range of specialties that loves solving problems
      and delivering high quality experiences for end users. You can check out some of my
      work below. <RevealedText
        previewText="Psssttt..."
        url={sourceLink}
        name="Source code link"
        content="You can also view the source for this site on github."
      />
    </p>

    <p class="lead-text">
      Currently working at
      <a class="jobs-link" href="https://noice.com" target="_blank">
        <span class="jobs-link-name">Noice</span>
        <span class="jobs-link-icon" aria-hidden="true">
          <NoiceLogo class="jobs-link-icon-svg" />
        </span>
      </a>, previously
      <a class="jobs-link" href="https://epicgames.com/" target="_blank">
        <span class="jobs-link-name">Epic Games</span>
        <span class="jobs-link-icon" aria-hidden="true">
          <EpicLogo class="jobs-link-icon-svg" />
        </span>
      </a> and
      <a class="jobs-link" href="https://unity3d.com/" target="_blank">
        <span class="jobs-link-name">Unity Technologies</span>
        <span class="jobs-link-icon" aria-hidden="true">
          <UnityLogo class="jobs-link-icon-svg" />
        </span>
      </a>.
    </p>
  </header>
  <main class="content-grid content-section">
    <section class="breakout">
      <h2>Recent projects</h2>
      <div class="project-grid">
        {projects.map((project) => <ProjectPreview project={project} />)}
      </div>
    </section>
    <section>
      <h2>Talks</h2>
      <TalkList />
    </section>
  </main>
</BaseLayout>
