/* stylelint-disable function-no-unknown */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.star-layer {
  --star-size: 1px;
  --layer-offset-x: 0px;
  --layer-offset-y: 0px;

  width: var(--star-size);
  height: var(--star-size);
  background-color: transparent;
  transform: translate(var(--layer-offset-x), var(--layer-offset-y));

  &.close {
    --star-size: 4px;
    box-shadow: duplicatedShadow(var(--palette-light-100), 50, 2000, 2000);
    opacity: 0.5;
  }

  &.far {
    --star-size: 2px;
    box-shadow: duplicatedShadow(var(--palette-light-100), 100, 2000, 2000);
    opacity: 0.25;
  }

  transition: transform 100ms ease-out;
}
