/* stylelint-disable function-no-unknown */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.star-layer {
  --star-size: 1px;

  width: var(--star-size);
  height: var(--star-size);
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  transition: transform 16ms ease-out;

  &.close {
    --star-size: 4px;
    z-index: 1;
    box-shadow: duplicatedShadow(var(--palette-light-700), 25, 2000, 2000);
  }

  &.far {
    --star-size: 2px;
    z-index: 0;
    box-shadow: duplicatedShadow(var(--palette-light-800), 25, 2000, 2000);
  }
}
