---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { title, platform, type, assets: _, url } = project.data;

const { Content } = await project.render();
---

<style></style>

<li>
  <div><strong><a href={url ?? '#'} target="_blank">{title}</a></strong></div>
  <div>{platform} - {type.join(', ')}</div>
  <Content />
</li>
